.container {
  display: grid;
  grid-template-columns: (4, 1fr);
  gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: 
      'header header'
      'form form';
}

header {
  grid-area: header;
}

.image-Login {
  width: 167px;
  height: 59px;
}

.box {
  width: 230px;
  padding: 40px;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #FFF;
  transition: 1s;
  box-shadow: 0px 3px 0.5px 0.5px rgba(22, 80, 145, 0.3);
  position: fixed;
}

.logo-Login{
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-bottom: 20px;
}

.form{
  grid-area: form;
  align-self: center;
  justify-self: center;
}

.input{
  margin-bottom: 16px;
}

.field {
  width: 230px;
}

.link{
  text-decoration: none;
}

.button {
  margin-top: 16px;
  width: 230px;
  height: 35px;
  border-radius: 8px;
  background: #094B89;
  color: #FFF;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
}
