.icone {
  border-radius: 50%;
}

.usuario {
  font-size: 15;
  align-content: center;
  justify-content: center;
}

.editarUsuario {
  height: 17px;
  width: 17px;
}

.cargo {
  font-size: small;
  align-content: center;
  justify-content: center;
}

.editarCargo {
  height: 13px;
  width: 13px;
}

.status {
  display: medium;
  align-content: center;
  justify-content: center;
  border-radius: 50%;

}

.confirmarStatus {
  margin-left: 5px;
  height: 20px;
  width: 20px;

}

.buttonModal {
  height: 30px;
  background-color: transparent;
  border-color: transparent;
  font-size: 16px;
}

.buttonModalClose {
  margin-top: 16px;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  background: #094B89;
  color: #FFF;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
}

.buttonConfirmar {
  margin-top: 16px;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  background-color: #094B89;
  color: #FFF;
  font-size: 16px;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
}

.buttonDeletar {
  margin-top: 16px;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  background-color: #E83F5B;
  color: #FFF;
  font-size: 16px;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
}