.icone {
  border-radius: 50%;
}

.usuario {
  font-size: medium;
  align-content: center;
  justify-content: center;
  margin-bottom: -15px;
}

.editarUsuario {
  height: 17px;
  width: 17px;
}

.cargo {
  font-size: small;
  align-content: center;
  justify-content: center;
}

.editarCargo {
  height: 13px;
  width: 13px;
}

.status {
  display: flex;
  align-content: center;
  justify-content: center;
}

.confirmarStatus {
  margin-left: 5px;
  height: 20px;
  width: 20px;

}

.deslogar {
  height: 20px;
  width: 20px;
  justify-self: flex-end;
  margin-left: 255px;
  margin-top: 5px;
}

.fechar {
  height: 20px;
  width: 20px;
  margin-right: 200px;
  margin-top: 5px;
}

.buttonModal {
    width: 10px; 
    height: 60px; 
    border-radius: 100%;
}